$giredrestant-primary-100: #FAF3F6;
$giredrestant-primary-200: #EBD0DA;
$giredrestant-primary-300: #9B1247;
$giredrestant-primary-400: #7C0E39;
$giredrestant-primary-500: #5D0B2B;
$giredrestant-secondary-100: #E9EAF1;
$giredrestant-secondary-200: #D3D5E3;
$giredrestant-secondary-300: #9196B8;
$giredrestant-secondary-400: #747893;
$giredrestant-secondary-500: #3A3C4A;
$giredrestant-accent-100: #F1E6E9;
$giredrestant-accent-200: #E3CCD4;
$giredrestant-accent-300: #720026;
$giredrestant-accent-400: #5B001E;
$giredrestant-accent-500: #440017;
$ocrevus-primary-100: #C3C9F4;
$ocrevus-primary-200: #9AA6EC;
$ocrevus-primary-300: #4A66DF;
$ocrevus-primary-400: #0037C1;
$ocrevus-primary-500: #0016A4;
$ocrevus-secondary-darker: #003087;
$ocrevus-secondary-dark: #1C429E;
$ocrevus-secondary-base: #4A64B4;
$ocrevus-secondary-light: #9BAEE4;
$ocrevus-secondary-lighter: #AEC0EE;
$ocrevus-accent-darker: #B88200;
$ocrevus-accent-dark: #DB9C00;
$ocrevus-accent-base: #FFCE38;
$ocrevus-accent-light: #FFE082;
$ocrevus-accent-lighter: #FFF8E1;
$brand-3-primary-darker: #0016A4;
$brand-3-primary-dark: #0037C1;
$brand-3-primary-base: #4A66DF;
$brand-3-primary-light: #9AA6EC;
$brand-3-primary-lighter: #C3C9F4;
$brand-3-secondary-darker: #003087;
$brand-3-secondary-dark: #1C429E;
$brand-3-secondary-base: #4A64B4;
$brand-3-secondary-light: #9BAEE4;
$brand-3-secondary-lighter: #AEC0EE;
$brand-3-accent-darker: #B88200;
$brand-3-accent-dark: #DB9C00;
$brand-3-accent-base: #FFCE38;
$brand-3-accent-light: #FFE082;
$brand-3-accent-lighter: #FFF8E1;
