:root {
  --color-functional-white: #FFFFFF;
  --color-functional-black: #000000;
  --color-system-error-100: #F62B2B;
  --color-system-error-200: #6D1313;
  --color-system-error-300: #FDD3D3;
  --color-system-warning-100: #FF8413;
  --color-system-warning-200: #893406;
  --color-system-warning-300: #FEEDD2;
  --color-system-success-100: #1EAD1B;
  --color-system-success-200: #0C490C;
  --color-system-success-300: #CDEDCC;
  --color-system-information-100: #0075FF;
  --color-system-information-200: #003471;
  --color-system-Information-300: #C6E0FF;
  --color-neutral-100: #E9E4DF;
  --color-neutral-200: #E6E5E4;
  --color-neutral-300: #CFCFCD;
  --color-neutral-400: #A9A8A5;
  --color-neutral-500: #7A7976;
  --color-neutral-600: #4F4E4C;
  --color-neutral-700: #3A3937;
  --color-neutral-800: #2B2A28;
  --color-neutral-900: #21201F;
  --color-overlay-primary-onContrast-hover: #FFFFFF;
  --color-overlay-primary-onContrast-pressed: #898885;
  --color-overlay-primary-onContrast-disabled: #2E2D2C;
  --color-overlay-primary-all-hover: #E5E3DE;
  --color-overlay-primary-all-pressed: #2E2D2C;
  --color-overlay-primary-all-disabled: #E9E8E4;
  --color-overlay-secondary-onContrast-hover: #FAF9F8;
  --color-overlay-secondary-onContrast-pressed: #5C5B59;
  --color-overlay-secondary-onContrast-disabled: #2E2D2C;
  --color-overlay-secondary-onLight-hover: #E5E3DE;
  --color-overlay-secondary-onLight-pressed: #E5E3DE;
  --color-overlay-secondary-onLight-disabled: #EFEEEB;
  --typography-font-family-headings-brutalist: Passion One;
  --typography-font-family-headings-industrial: Space Grotesk;
  --typography-font-family-headings-friendly: Nunito Sans;
  --typography-font-family-headings-modern: Jost;
  --typography-font-family-headings-humanist: Gill Sans;
  --typography-font-family-headings-editorial: Raleway;
  --typography-font-family-headings-neutral: Inter;
  --typography-font-family-headings-traditional: EB Garamond;
  --typography-font-family-body-body: Inter;
  --typography-font-style-display-desktop-size: 128;
  --typography-font-style-display-desktop-line-height: 112;
  --typography-font-style-display-desktop-letter-spacing-WIP: 0;
  --typography-font-style-display-tablet-size: 0;
  --typography-font-style-display-tablet-line-height: 0;
  --typography-font-style-display-tablet-letter-spacing-WIP: 0;
  --typography-font-style-display-mobile-size: 0;
  --typography-font-style-display-mobile-line-height: 0;
  --typography-font-style-display-mobile-letter-spacing-WIP: 0;
  --typography-font-style-heading1-desktop-size: 72;
  --typography-font-style-heading1-desktop-line-height: 72;
  --typography-font-style-heading1-desktop-letter-spacing-WIP: 0;
  --typography-font-style-heading1-tablet-size: 0;
  --typography-font-style-heading1-tablet-line-height: 0;
  --typography-font-style-heading1-tablet-letter-spacing-WIP: 0;
  --typography-font-style-heading1-mobile-size: 0;
  --typography-font-style-heading1-mobile-line-height: 0;
  --typography-font-style-heading1-mobile-letter-spacing-WIP: 0;
  --typography-font-style-heading2-desktop-size: 60;
  --typography-font-style-heading2-desktop-line-height: 64;
  --typography-font-style-heading2-desktop-letter-spacing-WIP: 0;
  --typography-font-style-heading2-tablet-size: 0;
  --typography-font-style-heading2-tablet-line-height: 0;
  --typography-font-style-heading2-tablet-letter-spacing-WIP: 0;
  --typography-font-style-heading2-mobile-size: 0;
  --typography-font-style-heading2-mobile-line-height: 0;
  --typography-font-style-heading2-mobile-letter-spacing-WIP: 0;
  --typography-font-style-heading3-desktop-size: 48;
  --typography-font-style-heading3-desktop-line-height: 56;
  --typography-font-style-heading3-desktop-letter-spacing-WIP: 0;
  --typography-font-style-heading3-tablet-size: 0;
  --typography-font-style-heading3-tablet-line-height: 0;
  --typography-font-style-heading3-tablet-letter-spacing-WIP: 0;
  --typography-font-style-heading3-mobile-size: 0;
  --typography-font-style-heading3-mobile-line-height: 0;
  --typography-font-style-heading3-mobile-letter-spacing-WIP: 0;
  --typography-font-style-heading4-desktop-size: 32;
  --typography-font-style-heading4-desktop-line-height: 40;
  --typography-font-style-heading4-desktop-letter-spacing-WIP: 0;
  --typography-font-style-heading4-tablet-size: 0;
  --typography-font-style-heading4-tablet-line-height: 0;
  --typography-font-style-heading4-tablet-letter-spacing-WIP: 0;
  --typography-font-style-heading4-mobile-size: 0;
  --typography-font-style-heading4-mobile-line-height: 0;
  --typography-font-style-heading4-mobile-letter-spacing-WIP: 0;
  --typography-font-style-heading5-desktop-size: 22;
  --typography-font-style-heading5-desktop-line-height: 32;
  --typography-font-style-heading5-desktop-letter-spacing-WIP: 0;
  --typography-font-style-heading5-tablet-size: 0;
  --typography-font-style-heading5-tablet-line-height: 0;
  --typography-font-style-heading5-tablet-letter-spacing-WIP: 0;
  --typography-font-style-heading5-mobile-size: 0;
  --typography-font-style-heading5-mobile-line-height: 0;
  --typography-font-style-heading5-mobile-letter-spacing-WIP: 0;
  --typography-font-style-body1-desktop-size: 20;
  --typography-font-style-body1-desktop-line-height: 32;
  --typography-font-style-body1-desktop-letter-spacing-WIP: 0;
  --typography-font-style-body1-desktop-weight: var(--typography-weight-regular);
  --typography-font-style-body1-tablet-size: 0;
  --typography-font-style-body1-tablet-line-height: 0;
  --typography-font-style-body1-tablet-letter-spacing-WIP: 0;
  --typography-font-style-body1-mobile-size: 0;
  --typography-font-style-body1-mobile-line-height: 0;
  --typography-font-style-body1-mobile-letter-spacing-WIP: 0;
  --typography-font-style-body2-desktop-size: 18;
  --typography-font-style-body2-desktop-line-height: 24;
  --typography-font-style-body2-desktop-letter-spacing-WIP: 0;
  --typography-font-style-body2-tablet-size: 0;
  --typography-font-style-body2-tablet-line-height: 0;
  --typography-font-style-body2-tablet-letter-spacing-WIP: 0;
  --typography-font-style-body2-mobile-size: 0;
  --typography-font-style-body2-mobile-line-height: 0;
  --typography-font-style-body2-mobile-letter-spacing-WIP: 0;
  --typography-font-style-button-desktop-size: 20;
  --typography-font-style-button-desktop-line-height: 32;
  --typography-font-style-button-desktop-letter-spacing-WIP: 0;
  --typography-font-style-button-desktop-weight: var(--typography-weight-bold);
  --typography-font-style-button-tablet-size: 0;
  --typography-font-style-button-tablet-line-height: 0;
  --typography-font-style-button-tablet-letter-spacing-WIP: 0;
  --typography-font-style-button-mobile-size: 0;
  --typography-font-style-button-mobile-line-height: 0;
  --typography-font-style-button-mobile-letter-spacing-WIP: 0;
  --typography-font-style-caption-desktop-size: 16;
  --typography-font-style-caption-desktop-line-height: 20;
  --typography-font-style-caption-desktop-letter-spacing-WIP: 0;
  --typography-font-style-caption-desktop-weight: var(--typography-weight-bold);
  --typography-font-style-caption-tablet-size: 0;
  --typography-font-style-caption-tablet-line-height: 0;
  --typography-font-style-caption-tablet-letter-spacing-WIP: 0;
  --typography-font-style-caption-mobile-size: 0;
  --typography-font-style-caption-mobile-line-height: 0;
  --typography-font-style-caption-mobile-letter-spacing-WIP: 0;
  --typography-font-style-quote-desktop-size: 48;
  --typography-font-style-quote-desktop-line-height: 56;
  --typography-font-style-quote-desktop-letter-spacing-WIP: 0;
  --typography-font-style-quote-tablet-size: 0;
  --typography-font-style-quote-tablet-line-height: 0;
  --typography-font-style-quote-tablet-letter-spacing-WIP: 0;
  --typography-font-style-quote-mobile-size: 0;
  --typography-font-style-quote-mobile-line-height: 0;
  --typography-font-style-quote-mobile-letter-spacing-WIP: 0;
  --typography-font-style-link-cta-desktop-size: 20;
  --typography-font-style-link-cta-desktop-line-height: 32;
  --typography-font-style-link-cta-desktop-letter-spacing-WIP: 0;
  --typography-font-style-link-cta-desktop-weight: var(--typography-weight-bold);
  --typography-font-style-link-cta-tablet-size: 0;
  --typography-font-style-link-cta-tablet-line-height: 0;
  --typography-font-style-link-cta-tablet-letter-spacing-WIP: 0;
  --typography-font-style-link-cta-mobile-size: 0;
  --typography-font-style-link-cta-mobile-line-height: 0;
  --typography-font-style-link-cta-mobile-letter-spacing-WIP: 0;
  --typography-weight-light: Light;
  --typography-weight-regular: Regular;
  --typography-weight-medium: Medium;
  --typography-weight-semibold: Semi Bold;
  --typography-weight-bold: Bold;
  --spacing-mobile-50: 8;
  --spacing-mobile-100: 16;
  --spacing-mobile-150: 16;
  --spacing-mobile-200: 24;
  --spacing-mobile-300: 32;
  --spacing-mobile-400: 32;
  --spacing-mobile-500: 40;
  --spacing-mobile-600: 48;
  --spacing-mobile-700: 64;
  --spacing-mobile-800: 80;
  --spacing-tablet-50: 8;
  --spacing-tablet-100: 16;
  --spacing-tablet-150: 24;
  --spacing-tablet-200: 32;
  --spacing-tablet-300: 40;
  --spacing-tablet-400: 48;
  --spacing-tablet-500: 64;
  --spacing-tablet-600: 80;
  --spacing-tablet-700: 96;
  --spacing-tablet-800: 112;
  --spacing-desktop-50: 8;
  --spacing-desktop-100: 16;
  --spacing-desktop-150: 24;
  --spacing-desktop-200: 32;
  --spacing-desktop-300: 48;
  --spacing-desktop-400: 64;
  --spacing-desktop-500: 80;
  --spacing-desktop-600: 96;
  --spacing-desktop-700: 112;
  --spacing-desktop-800: 128;
  --grid-device-mobile: 390;
  --grid-device-tablet: 768;
  --grid-device-desktop: 1280;
  --efforts-drop-shadow0-shadow-1-position-x: 2;
  --efforts-drop-shadow0-shadow-1-position-y: 0;
  --efforts-drop-shadow0-shadow-1-blur: 0;
  --efforts-drop-shadow0-shadow-1-spread: 0;
  --efforts-drop-shadow1-shadow-1-position-x: 0;
  --efforts-drop-shadow1-shadow-1-position-y: 0;
  --efforts-drop-shadow1-shadow-1-blur: 1;
  --efforts-drop-shadow1-shadow-1-spread: 0;
  --efforts-drop-shadow1-shadow-2-position-x: 0;
  --efforts-drop-shadow1-shadow-2-position-y: 2;
  --efforts-drop-shadow1-shadow-2-blur: 4;
  --efforts-drop-shadow1-shadow-2-spread: 0;
  --efforts-drop-shadow2-shadow-1-position-x: 0;
  --efforts-drop-shadow2-shadow-1-position-y: 0;
  --efforts-drop-shadow2-shadow-1-blur: 1;
  --efforts-drop-shadow2-shadow-1-spread: 0;
  --efforts-drop-shadow2-shadow-2-position-x: 0;
  --efforts-drop-shadow2-shadow-2-position-y: 2;
  --efforts-drop-shadow2-shadow-2-blur: 4;
  --efforts-drop-shadow2-shadow-2-spread: 0;
}
