$typography-font-display: $typography-font-family-headings-brutalist;
$typography-font-heading: $typography-font-family-headings-industrial;
$typography-font-body: $typography-font-family-body-body;
$typography-weight-display: $typography-weight-regular;
$typography-weight-heading: $typography-weight-bold;
$typography-weight-body: $typography-weight-regular;
$surface-bg-primary-darker: $colors-ocrevus-primary-500;
$surface-bg-primary-dark: $colors-ocrevus-primary-400;
$surface-bg-primary: $colors-ocrevus-primary-300;
$surface-bg-primary-light: $colors-ocrevus-primary-200;
$surface-bg-primary-lighter: $colors-ocrevus-primary-100;
$surface-bg-accent: $colors-ocrevus-accent-base;
$surface-storke-primary-darker: $colors-ocrevus-primary-500;
$surface-storke-primary-dark: $colors-ocrevus-primary-400;
$surface-storke-primary: $colors-ocrevus-primary-300;
$surface-storke-primary-light: $colors-ocrevus-primary-200;
$surface-storke-primary-lighter: $colors-ocrevus-primary-100;
$surface-storke-accent: $colors-ocrevus-accent-base;
$color-display-light: $color-functional-white;
$color-display-dark: $colors-ocrevus-primary-300;
$color-heading-light: $color-functional-white;
$color-heading-dark: $colors-ocrevus-primary-300;
$color-body-light: $color-functional-white;
$color-body-dark: $color-neutral-900;
$color-button-text-dark: $color-neutral-900;
$color-button-text-light: $color-neutral-900;
$color-link-cta-dark: $color-functional-white;
$color-link-cta-light: $color-neutral-900;
