:root {
  --typography-font-display: var(--typography-font-family-headings-brutalist);
  --typography-font-heading: var(--typography-font-family-headings-industrial);
  --typography-font-body: var(--typography-font-family-body-body);
  --typography-weight-display: var(--typography-weight-regular);
  --typography-weight-heading: var(--typography-weight-bold);
  --typography-weight-body: var(--typography-weight-regular);
  --surface-bg-primary-darker: var(--colors-ocrevus-primary-500);
  --surface-bg-primary-dark: var(--colors-ocrevus-primary-400);
  --surface-bg-primary: var(--colors-ocrevus-primary-300);
  --surface-bg-primary-light: var(--colors-ocrevus-primary-200);
  --surface-bg-primary-lighter: var(--colors-ocrevus-primary-100);
  --surface-bg-accent: var(--colors-ocrevus-accent-base);
  --surface-storke-primary-darker: var(--colors-ocrevus-primary-500);
  --surface-storke-primary-dark: var(--colors-ocrevus-primary-400);
  --surface-storke-primary: var(--colors-ocrevus-primary-300);
  --surface-storke-primary-light: var(--colors-ocrevus-primary-200);
  --surface-storke-primary-lighter: var(--colors-ocrevus-primary-100);
  --surface-storke-accent: var(--colors-ocrevus-accent-base);
  --color-display-light: var(--color-functional-white);
  --color-display-dark: var(--colors-ocrevus-primary-300);
  --color-heading-light: var(--color-functional-white);
  --color-heading-dark: var(--colors-ocrevus-primary-300);
  --color-body-light: var(--color-functional-white);
  --color-body-dark: var(--color-neutral-900);
  --color-button-text-dark: var(--color-neutral-900);
  --color-button-text-light: var(--color-neutral-900);
  --color-link-cta-dark: var(--color-functional-white);
  --color-link-cta-light: var(--color-neutral-900);
}
